body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.timer-container {
    text-align: center;
}

.timer {
    border: 2px solid #333;
    padding: 10px;
    font-size: 36px;
    font-family: "Courier New", Courier, monospace;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.control {
    display: flex;
    justify-content: space-around;
}

.control button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s;
}

.control button:hover {
    background-color: #2980b9;
}